# https://help.github.com/en/articles/workflow-syntax-for-github-actions

on:
  pull_request_review:
    types:
    - "submitted"
    branches:
    - "**"
  push:
    branches:
    - "**"
    tags-ignore:
    - "*"     # タグのpush時は検証しない（本番環境デプロイスクリプト内で検証される）
name: test
jobs:
  test:
  runs-on: ubuntu-latest
  run: echo ${{github}}
